<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="demonstrationService" class="com.bigcorp.springapp.service.DemonstrationService"></bean>

	<bean name="employeeService" class="com.bigcorp.springapp.service.separated.EmployeeService"></bean>

	<bean name="companyService" class="com.bigcorp.springapp.service.CompanyService">
		<property name="employeeService" ref="employeeService" />
	</bean>

</beans>